<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{{ asset('css/style-register.css') }}">
    
    {% block title %}
    <title>Inscription</title>
     {% endblock %} 
</head>

<body>
{% block content %}
   <div class="login-container">
        <div class="login-card">
            <h1>Inscription</h1>
         {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
              {{ form_row(form.confirm_password) }}
            <button type="submit">S'inscrire</button>
            {{ form_end(form) }}
            <p>Vous avez déjà un compte? <a href="../login">Se connecter</a></p>
        </div>
    </div>
 {% endblock %} 
</body>

</html>


